.blog-bio {
    height: 30%;
    padding: 25px;
    width: 20%
}

.blog-bio img {
    width: 60%;
    border-radius: 50%;
}

.blog-bio h3 {
    margin: 20px 0
}

.edit-btn {
    background-color: #39afda;
    padding: 10px 20px;
    color: white;
    transition: .3s;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    margin-top: 30px
}

.edit-btn:hover {
    background-color: #5cc6ec;
}

.new-blog-btn {
    background-color: #39afda;
    padding: 10px 20px;
    color: white;
    transition: .3s;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}

.new-blog-btn:hover {
    background-color: #5cc6ec;
}

.article-1 i,
.article-2 i {
    cursor: pointer;
}

.review-head {
    position: relative
}

.edit-del-btn {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    bottom: -50px;
}

.edit-del-btn button {
    border: none;
    background: none;
    text-align: start;
    font-weight: 600;
    font-size: 13px;
    padding: 5px 10px
}

.edit-del-btn button:last-child {
    color: red
}