<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head.ejs')%>
        <title>Decode Blog</title>
</head>

<body>
    <%- include('partials/header.ejs')%>
        <form action="/api/signin" method="POST" class="form">
            <h3>Вход</h3>
            <input type="text" placeholder="Введите email" name="email">
            <input type="text" placeholder="Введите пароль" name="password">
            <button type="submit">Войти</button>
            <p>Войти с помощью</p>
            <a href="/api/auth/google">Google</a>
        </form>
        <%- include('partials/scripts.ejs')%>
</body>

</html>