<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head.ejs')%>
        <title>Decode Blog</title>
</head>

<body>
    <%- include('partials/header.ejs')%>
        <div class="main">
            <div class="news d-flex justify-content-center align-items-start">
                <div class="blogs bg-white">
                    <div class="d-flex justify-content-between align-items-center mb-4">
                        <h2>Мои блоги</h2>
                        <a href="/newblog">
                            <button class="new-blog-btn">Новый блог</button>
                        </a>
                    </div>

                    <div class="article-1 text-center">
                        <img src="../images/image main.png" alt="" class="mb-5">
                        <div class="review-head d-flex justify-content-between">
                            <h3 class="text-start mb-2">Обзор Report Manager от Webix</h3>
                            <i class="fa-solid fa-ellipsis-vertical" onclick="changeModal()"></i>
                            <div class="edit-del-btn shadow-sm p-2 bg-white" id="editdelbtn">
                                <button>Редактировать</button>
                                <button>Удалить</button>
                            </div>
                        </div>

                        <p class="text-start">
                            <br>Осень 2020 года стала плодотворным временем для специалистов Webix.</br>
                            <br>Команда Webix выпустила восьмую версию библиотеки пользовательского интерфейса Webix с
                            двумя
                            новыми комплексными виджетами. Первый - зто Scheduler, о котором мы подробно говорили ранее.
                            Второй
                            виджет - это Gantt chart в JavaScript. Подробную информацию об этом виджете Вы можете найти
                            в
                            статье.</br>
                            <br>Ноябрь продолжает тенденцию, и мы спешим поделиться с Вами новым комплексным виджетом
                            Report
                            Manager. Давайте рассмотрим его</br>
                        </p>
                        <div class=" details-1 d-flex justify-content-between mt-5">
                            <div>
                                <i class="fa-regular fa-calendar me-2" style="color: #9c9ea2;"></i>
                                <i id="search">26.06.2020</i>
                            </div>
                            <div>
                                <i class="fa-solid fa-eye me-2" style="color: #9c9ea2;"></i>
                                <i id="search">21</i>
                            </div>
                            <div>
                                <i class="fa-solid fa-comment me-2" style="color: #9c9ea2;"></i>
                                <i id="search">4</i>
                            </div>
                            <div>
                                <i class="fa-solid fa-comments me-2" style="color: #9c9ea2;"></i>
                                <i id="search">Веб-разработка</i>
                            </div>
                            <div>
                                <i class="fa-solid fa-user me-2" style="color: #9c9ea2;"></i>
                                <i id="search">Nast1289</i>
                            </div>
                        </div>
                    </div>
                    <div class="article-2 text-center">
                        <img src="../images/image main 2.png" alt="" class="mb-5">
                        <div class="d-flex justify-content-between align-items-center">
                            <h3 class="text-start mb-2">Разработчики изобрели методологию высокоскоростного
                                программирования
                            </h3>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                        <p class="text-start">
                            <br>Осень 2020 года стала плодотворным временем для специалистов Webix.</br>
                            <br>Команда Webix выпустила восьмую версию библиотеки пользовательского интерфейса Webix с
                            двумя
                            новыми
                            комплексными виджетами. Первый - зто Scheduler, о котором мы подробно говорили ранее. Второй
                            виджет
                            - это Gantt chart в JavaScript. Подробную информацию об этом виджете Вы можете найти в
                            статье.</br>
                            <br>Ноябрь продолжает тенденцию, и мы спешим поделиться с Вами новым комплексным виджетом
                            Report
                            Manager. Давайте рассмотрим его</br>
                        </p>
                        <div class="details-2 d-flex justify-content-between mt-5">
                            <div>
                                <i class="fa-regular fa-calendar me-2" style="color: #9c9ea2;"></i>
                                <i id="search">26.06.2020</i>
                            </div>
                            <div>
                                <i class="fa-solid fa-eye me-2" style="color: #9c9ea2;"></i>
                                <i id="search">21</i>
                            </div>
                            <div>
                                <i class="fa-solid fa-comment me-2" style="color: #9c9ea2;"></i>
                                <i id="search">4</i>
                            </div>
                            <div>
                                <i class="fa-solid fa-comments me-2" style="color: #9c9ea2;"></i>
                                <i id="search">Веб-разработка</i>
                            </div>
                            <div>
                                <i class="fa-solid fa-user me-2" style="color: #9c9ea2;"></i>
                                <i id="search">Nast1289</i>
                            </div>
                        </div>
                    </div>
                </div>
                <div
                    class="blog-bio bg-white shadow d-flex flex-column justify-content-center align-items-center text-center">
                    <img src="/images/profile.jpg" alt="">
                    <h3>
                        <%=user.full_name%>
                    </h3>
                    <p>
                        В основном пишу про веб - разработку на React & Redux
                    </p>
                    <span>285 постов за все время</span>
                    <% if (loginUser.id==user.id){ %>
                        <a href=""><button class="edit-btn">Редактировать</button></a>
                        <% } %>
                </div>
            </div>
        </div>

</body>

</html>